html {
  scroll-behavior: smooth;
}

.header-container {
  position: relative;
  z-index: 2;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Change height to min-height for better responsiveness */
}

.body-content {
  max-width: 80%;
  text-align: center;
  margin: 2% auto; /* Use auto for vertical margin to center the content */
  padding-right: 10%;
  margin-left: 50px;
}

.search-form{
  max-width: 30%;
}

.background-image {
  background-image: url('/static/img/base_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
 
}

.header {
  position: relative;
  z-index: 3;
}

.table-with-background {
  background-image: url('/static/img/base_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  z-index: 3;
}

.search-form .form-group {
  margin-right: 5px;
}

.search-form .form-control {
  width: auto;
}

.search-form .btn-secondary {
  margin-left: 5px;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}

.logo {
  transition: transform 2s;
}

.logo:hover {
  animation-name: pulse;
  animation-duration: 5s;
  animation-iteration-count: infinite;  
}
